  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
  body {
    font-family: open sans;
    background-color: #f2f2f2;
   }
  a {
    text-decoration: none;
   }
  li {
    list-style: none;
   }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
  
   .logo {
    font-size: 32px;
   }

   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }

   /* table home */
   .table1 {
    font-family: sans-serif;
    color: #232323;
    border-collapse: collapse;
}
    .table1, th, td {
    border: 1px solid #999;
    padding: 8px 20px;
}

/*form mahasiswa */
input[type=text], select{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
    
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* button table  */
  .btn1{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 4px 8px;
  }
  .btn2{
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 4px 8px;
  }
  .btn3{
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 4px 8px;
  }

  .btn1:hover{
    opacity: 80%;
  }
  .btn2:hover{
    opacity: 80%;
  }
  .btn3:hover{
    opacity: 80%;
  }